$paper: #FCFED8;
$font: monospace;
$bg: #E4BB97;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  color: #221C1F;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;


  height: min-content;
  min-height: 100vh;
  width: auto;
  background-color: $bg;
  padding: 1rem 0px;
  overflow: auto;

  > div {
    min-width: min-content;
    width: min(60%, 600px);
    height: min-content;
    min-height: 90%;
    background-color: $paper;
    box-shadow: 0px 5px 10px 0px #000;
    border-radius: 5px;

    form {
      width: 100%;
      height: min-content;
      padding: 1rem;

      display: flex;
      flex-direction: column;
      gap: 40px;

      input, textarea {
        background-color: $paper;
        border: 1px solid $bg;
        padding: 2px 3px;

        &:focus {
          outline: 1px solid $bg;
          outline-offset: 1px;
        }
      }

      button {
        width: min-content;
        padding: 3px 5px;
        font-family: $font;
        background-color: $bg;

        font-size: 1.1rem;
        
        border: 1px solid #221C1F;
        outline: 1px solid #221C1F;
        outline-offset: 1px;
        border-radius: 5px;

        &:hover, &:focus {
          border: 1px solid #221C1F;
          outline: 1px solid #221C1F;
          outline-offset: 0px;
        }
      }

      button:last-child {
        align-self: flex-end;
      }

      input{
        border-radius: 2px;
      }
    }
  }

  footer > a > svg:hover {
    transform: rotate(360deg);
    transition: all 300ms;
  }
}